# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/MonoRepoTestAppA/.angular
/MonoRepoTestAppA/.idea
/MonoRepoTestAppA/.ionic
/MonoRepoTestAppA/.sass-cache
/MonoRepoTestAppA/.sourcemaps
/MonoRepoTestAppA/.versions
/MonoRepoTestAppA/.vscode
/MonoRepoTestAppA/coverage
/MonoRepoTestAppA/dist
/MonoRepoTestAppA/node_modules
/MonoRepoTestAppA/platforms
/MonoRepoTestAppA/plugins
/MonoRepoTestAppA/www

/MonoRepoTestAppB/.angular
/MonoRepoTestAppB/.idea
/MonoRepoTestAppB/.ionic
/MonoRepoTestAppB/.sass-cache
/MonoRepoTestAppB/.sourcemaps
/MonoRepoTestAppB/.versions
/MonoRepoTestAppB/.vscode
/MonoRepoTestAppB/coverage
/MonoRepoTestAppB/dist
/MonoRepoTestAppB/node_modules
/MonoRepoTestAppB/platforms
/MonoRepoTestAppB/plugins
/MonoRepoTestAppB/www